body #banner {
    height: 100%;
}

#btn-avancar {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3%;
    background-color: #039be5;
}

#banner {
    background: url("../img/banner-principal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: auto;
    padding-bottom: 40%;
    background-size: cover;
    background-size: auto 100%;
}

.container-radiobuttom {
    width: 90%;
}

#logo-branco {
    margin: 0;
    width: 10%;
    margin-left: 5%;
}

#checkbuttom {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin: 0 auto;

    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.item-div {
    position: relative;
    background-color: rgba(232, 232, 232, 0.87);
    width: 25%;
    height: 60px;
    text-align: left;
    line-height: 60px;
    font-size: 8px;
    border: solid 1px #ddd;
    border-top: .4em solid rgb(0, 0, 0, 0);
}

.item-div:hover {
    border-top: .4em solid #039be5;
}

.form {
    background-color: #f1f1f1;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

[type="radio"]+label:before,
[type="radio"]+label:after {
    left: initial;
    right: 0;
}

.item-div label {}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
    padding-left: 0px;
    position: initial;
    font-size: .8rem;
}

[type="radio"]+label:before,
[type="radio"]+label:after {
    left: initial;
    right: 3%;
    top: 50%;
    transform: translateY(-70%);
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #039be5;
}

[type="radio"]:checked+label:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    left: initial;
    right: 3%;
    top: 50%;
    transform: translateY(-70%);
}

.ico:before {
    margin: 0.2em;
    font-size: 2em;
    position: relative;
    top: 0.2em;
}

[type="radio"]:checked+label {
    color: #039be5;
}

.form-contato .fa {
    padding: 0.5em;
    font-size: 1.3em;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #039be5;
    -webkit-box-shadow: 0 1px 0 0 #039be5;
    box-shadow: 0 1px 0 0 #039be5;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #039be5;
}